<!-- app-navigation.component.html -->

<nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></li>
      <li><a [routerLink]="['/profile/edit/5']" routerLinkActive="router-link-active" >Profile Edit</a></li>      
    </ul>
  </nav>
  
  <hr>
  <div>
    <button (click)="login()">Click here to Login</button>

    <button (click)="logout()">Click here to Logout</button>
    
  </div>